<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harvest.basic.repository.mapper.BizCountryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.harvest.basic.repository.entity.BizCountryEntity">
        <result column="id" property="id" />
        <result column="country_code" property="countryCode" />
        <result column="country_cn" property="countryCn" />
        <result column="country_en" property="countryEn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, country_code, country_cn, country_en
    </sql>

</mapper>
