<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harvest.basic.repository.mapper.BizUnitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.harvest.basic.repository.entity.BizUnitEntity">
        <id column="id" property="id" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="unit_name" property="unitName" />
        <result column="unit_desc" property="unitDesc" />
        <result column="rc_time" property="rcTime" />
        <result column="rm_time" property="rmTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, COMPANY_ID, unit_name, unit_desc, rc_time, rm_time
    </sql>

</mapper>
