<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harvest.oms.repository.mapper.FarmlandOmsOrderDeclarationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.harvest.oms.repository.entity.FarmlandOmsOrderDeclarationEntity">
        <id column="order_id" property="orderId" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="status" property="status" />
        <result column="last_response" property="lastResponse" />
        <result column="rc_time" property="rcTime" />
        <result column="rm_time" property="rmTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, COMPANY_ID, status, last_response, rc_time, rm_time
    </sql>

</mapper>
