<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harvest.oms.repository.mapper.FarmlandOmsOrderDeclarationItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.harvest.oms.repository.entity.FarmlandOmsOrderDeclarationItemEntity">
        <id column="order_item_id" property="orderItemId" />
        <result column="order_id" property="orderId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_item_id, order_id
    </sql>

</mapper>
