<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harvest.oms.repository.mapper.FarmlandOmsOrderOperationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.harvest.oms.repository.entity.FarmlandOmsOrderOperationLogEntity">
        <id column="id" property="id" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="order_id" property="orderId" />
        <result column="operation_type" property="operationType" />
        <result column="content" property="content" />
        <result column="remark" property="remark" />
        <result column="internal" property="internal" />
        <result column="exception" property="exception" />
        <result column="user_id" property="userId" />
        <result column="operation_time" property="operationTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, COMPANY_ID, order_id, operation_type, content, remark, internal, exception, user_id, operation_time
    </sql>

</mapper>
