<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harvest.oms.repository.mapper.order.read.OrderItemReadMapper">
  
  <resultMap id="BaseResultMap" type="com.harvest.oms.repository.domain.order.simple.OrderItemSimplePO">
    <id column="id" property="orderItemId"/>
    <result column="COMPANY_ID" property="companyId"/>
    <result column="shop_id" property="shopId"/>
    <result column="order_id" property="orderId"/>
    <result column="source_type" property="orderSource"
            javaType="com.harvest.core.enums.oms.OrderSourceEnum"
            typeHandler="com.harvest.core.repository.mybatis.handler.EnumTypeHandler"/>
    <result column="order_item_status" property="orderItemStatus"
            javaType="com.harvest.core.enums.oms.OrderStatusEnum"
            typeHandler="com.harvest.core.repository.mybatis.handler.EnumTypeHandler"/>
    <result column="delivery_no" property="deliveryNo"/>
    <result column="spu_id" property="spuId"/>
    <result column="spu_code" property="spuCode"/>
    <result column="spu_name" property="spuName"/>
    <result column="sku_id" property="skuId"/>
    <result column="sku_code" property="skuCode"/>
    <result column="sku_name" property="skuName"/>
    <result column="unit_price" property="unitPrice"/>
    <result column="discounted_price" property="discountedPrice"/>
    <result column="is_package" property="isPackage"/>
    <result column="quantity" property="quantity"/>
    <result column="amount" property="amount"/>
    <result column="created_time" property="orderItemTime.createdTime"/>
    <result column="paid_time" property="orderItemTime.paidTime"/>
    <result column="send_time" property="orderItemTime.sendTime"/>
    <result column="end_time" property="orderItemTime.endTime"/>
    <result column="modify_time" property="orderItemTime.modifyTime"/>
    <result column="stock_lack" property="stockLack"/>
    <result column="stock_lack_time" property="orderItemTime.stockLackTime"/>
    <result column="picture_oss_url" property="pictureOssUrl"/>
  </resultMap>
  
  <sql id="field">
    id, COMPANY_ID, shop_id, order_id, source_type, order_item_status, delivery_no,
    spu_id, spu_code, spu_name, sku_id, sku_code, sku_name,
    unit_price, discounted_price, is_package, quantity, amount,
    created_time, paid_time, send_time, end_time, modify_time, stock_lack, stock_lack_time, picture_oss_url
  </sql>
  
  <select id="listOrderItemByOrderIds" resultMap="BaseResultMap">
    SELECT
    <include refid="field"/>
    FROM farmland_oms_order_item
    WHERE COMPANY_ID = #{companyId}
    AND order_id IN
    <foreach collection="orderIds" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

</mapper>
