<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harvest.goods.repository.mapper.FarmlandGoodsSpuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.harvest.goods.repository.entity.FarmlandGoodsSpuEntity">
        <id column="id" property="id" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="GOODS_CODE" property="goodsCode" />
        <result column="goods_name" property="goodsName" />
        <result column="category_id" property="categoryId" />
        <result column="brand_id" property="brandId" />
        <result column="unit_id" property="unitId" />
        <result column="goods_type" property="goodsType" />
        <result column="is_package" property="isPackage" />
        <result column="length_unit" property="lengthUnit" />
        <result column="weight_unit" property="weightUnit" />
        <result column="volume_unit" property="volumeUnit" />
        <result column="product_no" property="productNo" />
        <result column="quality_period" property="qualityPeriod" />
        <result column="forbid_receive_period" property="forbidReceivePeriod" />
        <result column="forbid_sale_period" property="forbidSalePeriod" />
        <result column="allow_accept_period" property="allowAcceptPeriod" />
        <result column="life_cycle" property="lifeCycle" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="rc_time" property="rcTime" />
        <result column="rm_time" property="rmTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, COMPANY_ID, GOODS_CODE, goods_name, category_id, brand_id, unit_id, goods_type, is_package, length_unit, weight_unit, volume_unit, product_no, quality_period, forbid_receive_period, forbid_sale_period, allow_accept_period, life_cycle, status, is_deleted, rc_time, rm_time
    </sql>

</mapper>
