<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ORDER_CORE">
  
  <resultMap id="OrderCoreMap" type="com.harvest.oms.repository.domain.order.OrderCore">
    <id column="order_id" property="orderId"/>
    <result column="COMPANY_ID" property="companyId"/>
    <result column="shop_id" property="shopId"/>
    <result column="source_type" property="orderSource" javaType="com.harvest.core.enums.oms.OrderSourceEnum"
            typeHandler="com.harvest.core.repository.mybatis.handler.EnumTypeHandler"/>
  </resultMap>
  
  <sql id="OrderCondition">
    WHERE o.COMPANY_ID = #{companyId}
    AND o.is_deleted = 0
    <if test="orderIds != null and orderIds.size() > 0">
      AND o.id IN
      <foreach collection="orderIds" item="orderId" open="(" close=")" separator=",">
        #{orderId}
      </foreach>
    </if>
    <if test="statuses != null and statuses.size() > 0">
      <foreach collection="statuses" item="status" open="(" close=")" separator=",">
        #{status}
      </foreach>
    </if>
  </sql>

</mapper>
